@import "tailwindcss";

@theme {
  --color-lightblue: #D4EBF8;
  --color-primary: #1F509A;
  --color-navy: #0A3981;
  --color-accent: #E38E49;
  --color-neutral: #F3F4F6;
  --font-heading: var(--font-geist-sans), sans-serif;
}

:root {
  --background: #D4EBF8;
  --foreground: #0A3981;
}

body {
  background: var(--background);
  color: var(--foreground);
}
